@{
    ViewData["Title"] = "Iniciar Sesión";
}
<div id="button-panel">
    <button id="transporters-button" class="main-button">
        <b>Transportistas</b>
    </button>
    <button id="vehicles-button" class="main-button">
        <b>Vehículos</b>
    </button>
    <button id="routes-button" class="main-button">
        <b>Rutas</b>
    </button>
</div>
