@{
    ViewData["Title"] = "Panel";
}
<div id="button-panel"> 
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a asp-controller="Home" asp-action="Transporters" class="function-link">
                </a>
            </div>
            <div class="col-sm">
                <a asp-controller="Home" asp-action="Transporters">
                    <input type="button" class="btn-primary" value="Vehículos" />
                </a>
            </div>
            <div class="col-sm">
                <a asp-controller="Home" asp-action="Transporters">
                    <input type="button" class="btn-primary" value="Rutas" />
                </a>
            </div>
        </div>
    </div>
</div>
