@{
    ViewData["Title"] = "Iniciar Sesión";
}
<div id="button-panel">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
        <button id="transporters-button" class="main-button">
            <b>Transportistas</b>
        </button>
    </a>
    <button id="vehicles-button" class="main-button">
        <b>Vehículos</b>
    </button>
    <button id="routes-button" class="main-button">
        <b>Rutas</b>
    </button>
</div>
